button {
    margin: 10px;
    padding: 10px;
}

.message {
    color: blue;
    font-weight: bold;
    font-size: 2rem;
}

.title {
    font-weight: bold;
    font-size: 2rem;
}

.zero {
    color: gray;
}

.positive {
    color: green;
}

.negative {
    color: red;
}